html,
body,
#index {
  height: 100%;
}

body {
  margin: 0;
  background: #667;
  font-family: Baskerville, Georgia, serif;
}

#index {
  overflow: hidden;
}

.ball {
  display: block;
  position: absolute;
  border-radius: 9999px;
  background: #334 no-repeat center center;
  background-size: contain;
}

.gravatar {
  background-image:
    url('http://gravatar.com/avatar/ca34681a45aff25c58c7c5ce9a8b0a32?s=400');
}
